<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AdminLTE | Marko.JS</title>
    <!-- CSS includes -->
    <lasso-head/>
  </head>
  <body class=(input.class)>
    <!-- Top-level UI component: -->
    <include(input.body)/>
    <!-- JS includes -->
    <lasso-body/>
    <browser-refresh enabled="true"/>
  </body>
</html>
